// ============================================
// Utilities Module - Classes utilitaires
// ============================================

// Overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

// Display
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

// Position
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

// Width
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

// Margins
.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// Z-index
.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}
